/*--- OVERAL STYLING ---*/
body {
    border: 0px;
    margin: 0px;
    font-family: 'Open sans', sans-serif;
}

p {
    font-size: 17px;

}

h1,
h2,
h3 {
    font-family: Amatic SC, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

/*--- OVERAL STYLING ---*/


/*--- START OF HEADER ---*/

header {
    background-color: #5a913d;
    font-family: Amatic SC, sans-serif;
    z-index: 100;
    height: 5em;
}

.logo-header {
    height: 3.5em;
    width: auto;
    position: absolute;
    top: 0.7em;
    left: 4em;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 4em;
}

.n {
    color: white;
    text-decoration: none;
    margin: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 40px;
}



/*--- END OF HEADER ---*/





/*--- START OF BODY ---*/

.section-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 700px 200px;
    grid-template-rows: auto;
    grid-column-gap: 3em;
    align-items: center;
}

.section-grid2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 700px 200px;
    grid-template-rows: auto;
    grid-column-gap: 3em;
    align-items: center;
    margin-bottom: 7em;
}

.photo-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: auto;
    grid-column-gap: 3em;
    margin-bottom: 7em;
    align-items: center;
}

.photo1 {
    background-color: #D26132;
    border-radius: 1em;
    height: 300px;
    text-align: center;
}

.foto {
    height: 11em;
    width: 11em;
    margin: 0.6em;
    border-radius: 1em;

}

.photo2 {
    background-color: #FAC240;
    border-radius: 1em;
    height: 300px;
    text-align: center;
}

.photo3 {
    background-color: #27997C;
    border-radius: 1em;
    height: 300px;
    text-align: center;
}

.photo4 {
    background-color: #9A7159;
    border-radius: 1em;
    height: 300px;
    text-align: center;
}

.hands {
    margin-top: 3em;
    align-self: center;
}

/*--- END OF BODY ---*/



/*--- START OF FOOTER ---*/

footer {
    background-color: #5a913d;
    height: 7em;
    display: flex;
    justify-content: center;

}

.footer-logo {
    width: 45px;
    height: auto;
    position: absolute;
    left: 0.5em;

}

.partners {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.partner {
    height: 50px;
    width: auto;
    margin: auto 10px;
}

/*--- END OF FOOTER ---*/
