/*--- OVERAL STYLING ---*/
body {
    border: 0px;
    margin: 0px;
    font-family: 'Open sans', sans-serif;
}

p {
    font-size: 17px;
    font-family: 'Open sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: Amatic SC, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}


/*--- OVERAL STYLING ---*/


/*--- START OF HEADER ---*/

header {
    background-color: #5a913d;
    font-family: Amatic SC, sans-serif;
    z-index: 100;
    height: 5em;
}

.logo-header {
    height: 3.5em;
    width: auto;
    position: absolute;
    top: 0.7em;
    left: 4em;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 4em;
}

.n {
    color: white;
    text-decoration: none;
    margin: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 40px;
}



/*--- END OF HEADER ---*/





/*--- START OF BODY ---*/


.title {
    font-size: 30px;
}


.send {
    background-color: #d26123;
    color: white;
    border-radius: 0.3em;
    padding: 0.1em 1.1em;
    border-bottom: 7px solid #BF592E;
    border-left: 7px solid #BF592E;
    font-size: 35px;
    font-family: Amatic SC, sans-serif;

}

.contact-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
    font-family: Open sans, sans-serif;
    font-weight: 400;
}



input {
    width: 600px;

    border-radius: 4px;
    border: 1px solid black;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: Open sans, sans-serif;
    padding: 10px;



}

.message {
    height: 200px;
    width: 600px;
}

/*--- END OF BODY ---*/







/*--- START OF FOOTER ---*/

footer {
    background-color: #5a913d;
    height: 7em;
    display: flex;
    justify-content: center;

}

.footer-logo {
    height: auto;
    position: absolute;
    left: 0.5em;
    max-height: 100px;
    width: 50px;
    margin: 0.5em;}

.partners {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.partner {
    height: 50px;
    margin: auto 10px;
}

/*--- END OF FOOTER ---*/


@media screen and (max-width: 1415px) {
        .partner {
        height: 35%;
    }
}

@media screen and (max-width: 1023px) {
    * {max-width: 1023px;}
    
    .partner {height: 23%;}

}

@media screen and (max-width: 679px) {
    * {max-width: 679px;}
    
}
    
    .contact-center p, input {max-width: 96%;}
}
