/*--- OVERAL STYLING ---*/
body {
    border: 0px;
    margin: 0px;
    font-family: 'Open sans', sans-serif;
}

p {
    font-size: 17px;
}

h1,
h2,
h3 {
    font-family: Amatic SC, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/*--- OVERAL STYLING ---*/


/*--- START OF HEADER ---*/

header {
    background-color: #5a913d;
    font-family: Amatic SC, sans-serif;
    z-index: 100;
    height: 5em;
}

.logo-header {
    height: 3em;
    width: auto;
    position: absolute;
    top: 0.7em;
    left: 1em;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

.n {
    color: white;
    text-decoration: none;
    margin: 0.5em;
    font-size: 35px;
}

.navbar-mobile {
    display: none;
}

/*--- END OF HEADER ---*/





/*--- START OF BODY ---*/

.social-media-fixed {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.icon-fixed img {
    width: 60px;
    height: 60px;
    margin: 0.5em 0;
}


.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;

}

/* dots under the slide show*/
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 1.5s;

}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*------------end of slide show------------------*/

.main-grid {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: auto;
    margin-top: 5em;
    padding-right: 10%;
    padding-left: 10%;
}

.articles-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

}

.article {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.article-preview {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border: 3px solid #D26132;
    border-radius: 24px;
    height: 250px;
    width: 700px;
    padding: 1em;
    margin-bottom: 2em;
}

.article-preview h2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 0;
}

.infographic-img {
    width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.article-logo-img {
    width: auto;
    height: 100%;
    justify-self: center;
    align-self: center;
}

.read-btn {
    display: block;
    margin-bottom: 3em;
    background-color: #d26123;
    color: white;
    border-radius: 0.3em;
    padding: 0.2em 1.1em;
    border-bottom: 5px solid #BF592E;
    border-left: 5px solid #BF592E;
    font-size: 30px;
    font-family: Amatic SC, sans-serif;
    width: fit-content;
}

.newsletter {
    background-color: #FAC240;
    height: 40%;
    width: 280px;
    padding: 1em;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-self: end;
}

.newsletter h2,
.newsletter p {
    margin: 0;
}

.newsletter h2 {
    font-size: 40px;
}

.input-email {
    border-radius: 4px;
    padding: 0.8em 1em;
    border: 1px solid black;
    width: 90%;
}

.submit-btn {
    display: block;
    background-color: #d26123;
    color: white;
    border-radius: 0.3em;
    padding: 0.2em 1.1em;
    border-bottom: 5px solid #BF592E;
    border-left: 5px solid #BF592E;
    border-top: none;
    border-right: none;
    font-size: 30px;
    font-family: Amatic SC, sans-serif;
}

/*--- END OF BODY ---*/


/*--- START OF FOOTER ---*/

.footer {
    background-color: #5a913d;
    height: 7em;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer-logo {
    width: 40px;
    height: auto;
    position: absolute;
    left: 1em;
    bottom: 1.2em;
}

.footer-first {
    display: none;
}

.footer-some-icons {
    display: none;
}

.partners {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.partner {
    width: auto;
    height: 45px;
}

.partner-img {
    height: 100%;
    width: auto;
    margin: auto 15px;
}

/*--- END OF FOOTER ---*/

@media screen and (max-width: 1500px) {
    .main-grid {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media screen and (max-width: 1300px) {
    .main-grid {
        grid-template-columns: 5fr 2.5fr;
    }

    .article-preview {
        width: 500px;
    }
}

@media screen and (max-width: 1200px) {

    .partner {
        height: 25%;
    }

}

@media screen and (max-width: 1000px) {
    .article-preview {
        width: 450px;
        height: 200px
    }
}

@media screen and (max-width: 970px) {
    .main-grid {
        padding: 0 20px;
    }

    .article-preview {
        width: 400px;
    }

    .newsletter {
        width: 90%;
    }
}

@media screen and (max-width: 950px) {
    .navbar-mobile {
        display: block;
        position: relative;
    }

    .menu {
        display: none;
    }

    .menu-button {
        display: block;
        cursor: pointer;
        width: 55px;
        border: none;
        padding: 1em;
        background-color: transparent;
        margin-left: auto;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }

    .menu-button.is-open .bar1 {
        transform: rotate(-45deg) translate(-8px, 7px);
    }

    .menu-button.is-open .bar2 {
        opacity: 0;
    }

    .menu-button.is-open .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .navbar-list {
        list-style: none;
        position: absolute;
        top: 100%;
        background-color: #fff;
        padding-left: 0;
        display: none;
        z-index: 2;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .navbar-list.is-open {
        display: block;
    }

    .navbar-list li {
        border-bottom: 1px solid black;
    }

    .navbar-list a {
        display: inline-block;
        text-decoration: none;
        font-size: 2em;
        padding: 0.5rem;
        margin: 0.5rem 1.5rem;
        color: black;
    }

    /* End of Mobile Menu*/
}

@media screen and (max-width: 800px) {
    .partner {
        height: 20%;
    }
}

@media screen and (max-width: 780px) {
    .article-preview {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 250px;
        height: 400px;
    }

    .article-logo-img {
        height: 200px;
    }

    .newsletter {
        width: 250px;
        height: 406px;
    }
}

@media screen and (max-width: 679px) {
    .social-media-fixed {
        display: none;
    }

    .main-grid {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .article {
        width: 90%;
        place-self: center;
    }

    .article-preview {
        width: 90%;
    }

    .newsletter {
        width: 100%;
        padding: 1em 0;
        border-radius: 0;
    }

    .newsletter p {
        padding: 0 1em;
    }

    .footer {
        background-color: #517F37;
        height: 12em;
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        bottom: 6.6em;
    }

    .footer-first {
        display: block;
        background-color: #5A913D;
        height: 50%;
        width: 100%;
    }

    .footer-some-icons {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0.5em;
    }

    .footer-some-icons a {
        padding: 0.5em;
        margin-left: 1em;
    }

    .footer-some-icons img {
        height: 40px;
        width: auto;
    }

    .partners {
        justify-content: space-between;
        height: 50%;
        width: 100%;
    }

    .partner {
        height: 25%;
    }

}

@media screen and (max-width: 510px) {
    .partner {
        height: 20%;
    }
}

@media screen and (max-width: 430px) {
    .input-email {
        width: 80%;
    }

    .partner {
        height: 12%;
    }

}
