/*--- OVERAL STYLING ---*/
body {
    border: 0px;
    margin: 0px;
    font-family: 'Open sans', sans-serif;
}

p {
    font-size: 16px;
    text-align: left;
}

h1,
h2,
h3 {
    font-family: Amatic SC, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}

.back,
.next,
.send {
    background-color: #d26123;
    color: white;
    border-radius: 0.3em;
    padding: 0.1em 1.1em;
}

/*--- OVERAL STYLING ---*/

/*--- START OF HEADER ---*/

header {
    background-color: #5a913d;
    font-family: Amatic SC, sans-serif;
    z-index: 100;
    height: 5em;
}

.logo-header {
    height: 3.5em;
    width: auto;
    position: absolute;
    top: 0.7em;
    left: 4em;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.1em;
    padding-right: 4em;
}

.n {
    color: white;
    text-decoration: none;
    margin: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 40px;
}

.close-btn {
    display: block;
    cursor: pointer;
    width: 55px;
    height: 55px;
    padding: 0.7em;
    margin-left: auto;
    margin-right: 3.3em;
}

.close-btn-line1 {
    height: 5px;
    background-color: white;
    transform: rotate(-45deg) translate(-19px, 19px);
}

.close-btn-line2 {
    height: 5px;
    background-color: white;
    transform: rotate(45deg) translate(15px, 15px);
}

/*--- END OF HEADER ---*/

/* START OF PROGRESS BAR */



.progress-line {
    height: 10px;
    width: 100%;
    background-color: #FDEECA;
}

.progress-circles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20%;
    margin-top: -27px;
    /*position: relative;*/
}

.progress-circle {
    width: 44px;
    height: 44px;
    border-radius: 70%;
    background-color: #FDEECA;
    /* position: absolute;*/

}

/* END OF PROGRESS BAR */

/*--- START OF BODY ---*/

/*--- GRID ---*/
.item1 {
    grid-area: space-left;
}

.item2 {
    grid-area: map;
}

.item3 {
    grid-area: map-menu;
}

.item4 {
    grid-area: space-right;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'space-left map map map-menu map-menu space-right';
    grid-gap: 0px;
    grid-template-rows: 400px;
    overflow: hidden;
    justify-content: center;

}

.grid-container > div {
    text-align: center;
    padding: 0px 0;
    font-size: 20px;
}

#map-menu {
    background-image: url("../images/platform/paper.jpg");
    padding: 20%;
}

.styled-select {
    height: 29px;
    width: 170px;
}

.styled-select select {
    background: white;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 170px;
    border: 1px solid;
}

/*----------------------BUTTONS----------------------------------------------------------------------------------------------*/
.next {
    font-family: Amatic SC, sans-serif;
    font-size: 40px;
    float: right;
    margin: 1em;
    border-bottom: 7px solid #BF592E;
    border-left: 7px solid #BF592E;
}

.back {
    font-family: Amatic SC, sans-serif;
    font-size: 40px;
    float: left;
    margin: 1em;
    border-bottom: 7px solid #BF592E;
    border-left: 7px solid #BF592E;
}

.send {
    font-family: Amatic SC, sans-serif;
    font-size: 300%;
    place-self: center;
    margin: 2em;
    margin-top: 5em;
    grid-column-start: 1;
    grid-column-end: span 2;
    border-bottom: 7px solid #BF592E;
    border-left: 7px solid #BF592E;
}


/*----------------------BUTTONS----------------------------------------------------------------------------------------------*/


/*--- END OF BODY ---*/

/*--- START OF FOOTER ---*/

footer {
    background-color: #5a913d;
    height: 7em;
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 45px;
    height: auto;
    position: absolute;
    left: 0.5em;
}

.partners {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.partner {
    height: 50px;
    width: auto;
    margin: auto 10px;
}

/*--- END OF FOOTER ---*/
