/*--- OVERAL STYLING ---*/
body {
    border: 0px;
    margin: 0px;
    font-family: 'Open sans', sans-serif;
}

p {
    font-size: 17px;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Amatic SC, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 50px;
    text-align: center;
}

a {
    text-decoration: none;
}

.back,
.next,
.send {
    background-color: #d26123;
    color: white;
    border-radius: 0.3em;
    padding: 0.1em 1.1em;
}

/*--- OVERAL STYLING ---*/


/*--- START OF HEADER ---*/

header {
    background-color: #5a913d;
    font-family: Amatic SC, sans-serif;
    z-index: 100;
    height: 5em;
}

.logo-header {
    height: 3em;
    width: auto;
    position: absolute;
    top: 0.7em;
    left: 1em;
}

.n {
    color: white;
    text-decoration: none;
    margin: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 40px;
}

.close-btn {
    display: block;
    cursor: pointer;
    width: 55px;
    height: 55px;
    padding: 0.7em;
    margin-left: auto;
    margin-right: 1em;
}

.close-btn-line1 {
    height: 5px;
    background-color: white;
    transform: rotate(-45deg) translate(-19px, 19px);
}

.close-btn-line2 {
    height: 5px;
    background-color: white;
    transform: rotate(45deg) translate(15px, 15px);
}


/*--- END OF HEADER ---*/

/* START OF PROGRESS BAR */

.progress {
    margin-bottom: 4rem;
}

.progress-line {
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
    display: block;
}

.progress-line::-webkit-progress-bar {
    background-color: #FDEECA;
}

.progress-line::-webkit-progress-value {
    background-color: #FAC240;
}

.progress-circles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 18%;
    margin-top: -27px;
}

.progress-circle {
    width: 44px;
    height: 44px;
    border-radius: 70%;
    background-color: #FDEECA;
    position: relative;
    transition: background-color 500ms ease;

}

.circle-filled {
    background-color: #FAC240;
}

.progress-circle::after {
    content: attr(title);
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    width: max-content;
    transform: translateX(-50%);
    text-transform: uppercase;
    margin-top: 0.8rem;
}

/* END OF PROGRESS BAR */

.trees {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: auto;
    justify-content: center;
    grid-column-gap: 100px;
}

.tree {
    background-color: #FAC240;
    padding: 0 1em;
    border-radius: 0.7em;
    border-bottom: 5px solid #E4B13B;
    border-left: 5px solid #E4B13B;
    cursor: pointer;
}

.tree p {
    margin-bottom: 0.6em;
}

.tree-svg {
    height: 20rem;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

.name-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

.name-price h2 {
    font-size: 35px;
}

.name-price p {
    margin-top: auto;
}

.tree-selected {
    border-bottom: 5px solid #5A913D;
    border-left: 5px solid #5A913D;
    background-color: #5A913D;
}

/*
.dot {
    height: 5em;
    width: auto;
}*/

/*----------------------BUTTONS----------------------------------------------------------------------------------------------*/
.back-next-button {
    display: grid;
    grid-template-columns: 1170px;

    justify-self: end;
    grid-template-rows: auto;
    justify-self: end;
    justify-content: center;
    margin: 2em;
}

.next {
    font-family: Amatic SC, sans-serif;
    font-size: 40px;
    margin-top: 1em;
    border-bottom: 7px solid #BF592E;
    border-left: 7px solid #BF592E;
    justify-self: end;
}

/*----------------------BUTTONS----------------------------------------------------------------------------------------------*/



/*--- END OF BODY ---*/


/*--- START OF FOOTER ---*/

footer {
    background-color: #5a913d;
    height: 7em;
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 45px;
    height: auto;
    position: absolute;
    left: 0.5em;
}

.partners {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.partner {
    height: 50px;
    width: auto;
    margin: auto 10px;
}

/*--- END OF FOOTER ---*/

@media screen and (max-width: 1300px) {
    .progress-circle {
        width: 30px;
        height: 30px;
    }

    .progress-circles {
        margin-top: -20px;
    }


    .back-next-button {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: auto;
        justify-content: center;
    }

    .trees {
        grid-column-gap: 20px;
    }

}

@media screen and (max-width: 1050px) {
    .trees {
        grid-template-columns: 320px 320px;
        grid-template-rows: auto auto;
        grid-row-gap: 20px;
    }

    .tree:last-of-type {
        grid-column-start: 1;
        grid-column-end: span 2;
        width: 304px;
        justify-self: center;
    }

}

@media screen and (max-width: 950px) {
    .progress-circle::after {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .trees {
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }

}

@media screen and (max-width: 679px) {

    .back-next-button {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-content: center;
    }

    .trees {
        display: flex;
        flex-direction: column;
    }

    .tree {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }

    .tree:last-of-type {
        width: 300px;
    }

    footer {
        background-color: #517F37;
    }


}

@media screen and (max-width: 380px) {
    tree-svg {
        width: 100%;
        height: auto;
    }

    .trees {
        width: 90%;
        align-items: center;
    }

    .tree {
        width: 97%;
    }

    .tree:last-of-type {
        width: 97%;
    }
}
