/*--- OVERAL STYLING ---*/
body {
    border: 0px;
    margin: 0px;
    font-family: 'Open sans', sans-serif;
}

p {
    font-size: 17px;
}

h1,
h2,
h3 {
    font-family: Amatic SC, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 60px;
    text-align: center;
}

a {
    text-decoration: none;
}

/*--- OVERAL STYLING ---*/

/*--- START OF HEADER ---*/

header {
    background-color: #5a913d;
    font-family: Amatic SC, sans-serif;
    z-index: 100;
    height: 5em;
}

.logo-header {
    height: 3.5em;
    width: auto;
    position: absolute;
    top: 0.7em;
    left: 4em;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 4em;
}

.n {
    color: white;
    text-decoration: none;
    margin: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 40px;
}



/*--- END OF HEADER ---*/

/*--- START OF BODY ---*/

.titleImage {
    width: 100%;
    height: auto;
}

.titleImage-tablet {
    display: none;
}

.titleImage-mobile {
    display: none;
}

.main-tree {
    height: 40em;
    width: auto;
    margin-top: 4em;
}

.step {
    height: 20em;
    width: auto;
}

.step-gift {
    height: 10em;
    width: auto;
}

.step-location {
    height: 15em;
    width: auto;
}

.step-certificate {
    height: 8em;
    width: auto;
}

.process-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 35% 35%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-column-gap: 3em;
    grid-row-gap: 4em;
    margin-bottom: 7em;
    align-items: center;
}

.process-right {
    justify-self: end;
}

.start-btn {
    font-family: Amatic SC, sans-serif;
    background-color: #d26123;
    color: white;
    font-size: 60px;
    border-radius: 0.3em;
    padding: 0.1em 1.1em;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: span 2;
    margin: auto;
    border-left: 7px solid #BF592E;
    border-bottom: 7px solid #BF592E;
}

/*--- END OF BODY ---*/

/*--- START OF FOOTER ---*/

footer {
    background-color: #5a913d;
    height: 7em;
    display: flex;
    justify-content: center;
}

.footer-logo {
    width: 45px;
    height: auto;
    position: absolute;
    left: 0.5em;
}

.partners {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.partner {
    height: 50px;
    width: auto;
    margin: auto 10px;
}

/*--- END OF FOOTER ---*/
